# Aquisição e Exploração dos dados

*Imports*

In [1]:
import pandas as pd 
import numpy as np

In [4]:
df = pd.read_csv('results.csv', sep=';',usecols=[0,1,2])

In [5]:
df.reset_index(drop=True, inplace=True)
df.dropna(axis=0, inplace=True)
df

              ear distancia_entre_os_labios nome_video
0        0.291351             1.383.333.333   55/0.mp4
1        0.296493                        14   55/0.mp4
2        0.316485             1.433.333.333   55/0.mp4
3        0.321407             1.533.333.333   55/0.mp4
4        0.290985                        15   55/0.mp4
...           ...                       ...        ...
1048570  0.283006    14.833.333.333.333.300   14/5.mp4
1048571  0.277812                      14.0   14/5.mp4
1048572  0.286546                      14.5   14/5.mp4
1048573  0.307970    14.833.333.333.333.300   14/5.mp4
1048574  0.289115    14.666.666.666.666.600   14/5.mp4

[1048510 rows x 3 columns]

In [6]:
videos = pd.unique(df.nome_video)
videos

array(['55/0.mp4', '55/10.mp4', '55/5.mp4', '56/0.MOV', '56/10.MOV',
       '56/5.MOV', '57/0.MOV', '57/10.MOV', '57/5.MOV', '58/0.mp4',
       '58/10.mp4', '58/5.mp4', '59/0.MOV', '59/10.MOV', '59/5.MOV',
       '60/0.mov', '60/10.mov', '60/5.mov', '01/0.mov', '01/10.MOV',
       '01/5.mov', '02/0.mov', '02/10.MOV', '02/5.MOV', '03/0.MOV',
       '03/10.mov', '03/5.mov', '04/0.mp4', '04/10.mp4', '04/5.mp4',
       '05/0.MOV', '05/10.MOV', '05/5.MOV', '06/0.mp4', '06/10.mp4',
       '06/5.mp4', '07/0.mp4', '07/10.mp4', '07/5.mp4', '08/0.mp4',
       '08/10.mp4', '08/5.mp4', '09/0.mp4', '09/10.mp4', '09/5.mp4',
       '10/0.MOV', '10/10.MOV', '10/5.MOV', '11/0.mp4', '11/10.mp4',
       '11/5.mp4', '12/0.mp4', '12/10.mp4', '12/5.mp4', '13/0.mp4',
       '13/10.mp4', '13/5.mp4', '14/0.mp4', '14/10.mp4', '14/5.mp4'],
      dtype=object)

In [7]:
videos_vazios = []
for video in videos:
    print(video)
    df_video = df.query("nome_video == '"+video+"'")
    df_falhas = df_video.query("ear==-1" and "distancia_entre_os_labios==-1")
    df_dados = df_video.query("ear!=-1" and "distancia_entre_os_labios!=-1")

    print(df_falhas.shape[0], df_dados.shape[0])
    if df_dados.shape[0]<200:
        videos_vazios.append(video)
        df.query("nome_video != '"+video+"'", inplace=True) #filtrando dataframe antigo

55/0.mp4
0 21196
55/10.mp4
0 16483
55/5.mp4
0 19235
56/0.MOV
0 18323
56/10.MOV
0 18778
56/5.MOV
0 18354
57/0.MOV
0 18938
57/10.MOV
0 18367
57/5.MOV
0 18220
58/0.mp4
0 18056
58/10.mp4
0 18243
58/5.mp4
0 18302
59/0.MOV
0 18089
59/10.MOV
0 18095
59/5.MOV
0 18169
60/0.mov
0 18054
60/10.mov
0 18581
60/5.mov
0 17533
01/0.mov
0 18049
01/10.MOV
0 18011
01/5.mov
0 17969
02/0.mov
0 18259
02/10.MOV
0 18124
02/5.MOV
0 17044
03/0.MOV
0 20759
03/10.mov
0 18480
03/5.mov
0 18514
04/0.mp4
0 15364
04/10.mp4
0 15394
04/5.mp4
0 18224
05/0.MOV
0 18406
05/10.MOV
0 18050
05/5.MOV
0 18058
06/0.mp4
0 15230
06/10.mp4
0 10233
06/5.mp4
0 13117
07/0.mp4
0 18016
07/10.mp4
0 17939
07/5.mp4
0 17886
08/0.mp4
0 18158
08/10.mp4
0 17989
08/5.mp4
0 18048
09/0.mp4
0 18172
09/10.mp4
0 19816
09/5.mp4
0 18367
10/0.MOV
0 16306
10/10.MOV
0 18866
10/5.MOV
0 18620
11/0.mp4
0 18818
11/10.mp4
0 10656
11/5.mp4
0 9853
12/0.mp4
0 16919
12/10.mp4
0 15098
12/5.mp4
0 18838
13/0.mp4
0 18236
13/10.mp4
0 18486
13/5.mp4
0 20477
14/0.mp4
0 18386
14/10.mp4
0 18692
14/5.mp4
0 7567

In [8]:
df

              ear distancia_entre_os_labios nome_video
0        0.291351             1.383.333.333   55/0.mp4
1        0.296493                        14   55/0.mp4
2        0.316485             1.433.333.333   55/0.mp4
3        0.321407             1.533.333.333   55/0.mp4
4        0.290985                        15   55/0.mp4
...           ...                       ...        ...
1048570  0.283006    14.833.333.333.333.300   14/5.mp4
1048571  0.277812                      14.0   14/5.mp4
1048572  0.286546                      14.5   14/5.mp4
1048573  0.307970    14.833.333.333.333.300   14/5.mp4
1048574  0.289115    14.666.666.666.666.600   14/5.mp4

[1048510 rows x 3 columns]

In [9]:
len(videos_vazios), len(videos)

(0, 60)

In [51]:
len(pd.unique(df.nome_video)) #dados limpo

48

In [52]:
df.to_csv('results_novo.csv', sep=';', index = False, mode='w', header=False)

In [ ]:
df.nome_video

In [ ]:
df.query('nome_video!=videos_vazios')

# Análise dos dados

In [ ]:
ear = df['ear']

In [ ]:
import matplotlib.pyplot as plt
plt.plot(ear)

In [ ]:
from scipy.ndimage.morphology import grey_opening, grey_closing

ear_opening = grey_opening(ear, 11)
ear_closing = grey_closing(ear, 11)

In [ ]:
plt.plot(ear_opening)

In [ ]:
from skimage.morphology import reconstruction
import numpy as np 

ear_rec = reconstruction(ear - 0.10, ear, selem = np.ones((11,)))

In [ ]:
plt.figure()
plt.plot(ear[2980:3050])
plt.plot(ear[2980:3050]- 0.10)
plt.show()

In [ ]:
plt.plot(ear_rec[2980:3050])