# Aquisição e Exploração dos dados

*Imports*

In [20]:
import pandas as pd   
import numpy as np

In [34]:
df = pd.read_csv('results_novo2.csv', sep=';',usecols=[0,1,2])

In [35]:
df

              ear  distancia_entre_os_labios nome_video
0        0.291351                  13.833333   55/0.mp4
1        0.296493                  14.000000   55/0.mp4
2        0.316485                  14.333333   55/0.mp4
3        0.321407                  15.333333   55/0.mp4
4        0.290985                  15.000000   55/0.mp4
...           ...                        ...        ...
2186645  0.259252                  12.666667   46/5.m4v
2186646  0.256147                  12.333333   46/5.m4v
2186647  0.256460                  12.500000   46/5.m4v
2186648  0.262103                  12.833333   46/5.m4v
2186649  0.251096                  13.333333   46/5.m4v

[2186650 rows x 3 columns]

In [36]:
df.reset_index(drop=True, inplace=True)
df.dropna(axis=0, inplace=True)
df

              ear  distancia_entre_os_labios nome_video
0        0.291351                  13.833333   55/0.mp4
1        0.296493                  14.000000   55/0.mp4
2        0.316485                  14.333333   55/0.mp4
3        0.321407                  15.333333   55/0.mp4
4        0.290985                  15.000000   55/0.mp4
...           ...                        ...        ...
2186645  0.259252                  12.666667   46/5.m4v
2186646  0.256147                  12.333333   46/5.m4v
2186647  0.256460                  12.500000   46/5.m4v
2186648  0.262103                  12.833333   46/5.m4v
2186649  0.251096                  13.333333   46/5.m4v

[2186650 rows x 3 columns]

In [28]:
videos = pd.unique(df.nome_video)
videos

array(['55/0.mp4', '55/10.mp4', '55/5.mp4', '56/0.MOV', '56/10.MOV',
       '56/5.MOV', '57/0.MOV', '57/10.MOV', '57/5.MOV', '59/0.MOV',
       '59/10.MOV', '59/5.MOV', '60/0.mov', '60/10.mov', '60/5.mov',
       '01/0.mov', '01/10.MOV', '01/5.mov', '02/0.mov', '02/10.MOV',
       '02/5.MOV', '03/0.MOV', '03/10.mov', '03/5.mov', '04/0.mp4',
       '04/10.mp4', '04/5.mp4', '05/0.MOV', '05/10.MOV', '05/5.MOV',
       '06/0.mp4', '06/10.mp4', '06/5.mp4', '07/5.mp4', '09/0.mp4',
       '09/10.mp4', '09/5.mp4', '10/0.MOV', '10/10.MOV', '10/5.MOV',
       '11/0.mp4', '11/10.mp4', '11/5.mp4', '12/0.mp4', '12/10.mp4',
       '12/5.mp4', '14/10.mp4', '14/5.mp4', '15/0.mp4', '15/10.mp4',
       '15/5.mp4', '16/0.MOV', '16/10.MOV', '16/5.MOV', '17/0.mp4',
       '17/10.mp4', '17/5.mp4', '18/0.mov', '18/10.mov', '18/5.mov',
       '19/0.MOV', '19/10.MOV', '19/5.MOV', '20/0.mp4', '20/5.MOV',
       '21/0.MOV', '21/5.MOV', '22/0.MOV', '22/10.MOV', '22/5.MOV',
       '23/0.mp4', '23/10.mp4', '23/5.mp4', '24/0.mp4', '24/10.mp4',
       '24/5.mp4', '26/0.mp4', '27/0.MOV', '27/10.MOV', '27/5.MOV',
       '28/0.MOV', '28/10.MOV', '28/5.MOV', '29/0.mp4', '29/10.mp4',
       '29/5.mp4', '30/0.mp4', '30/10.mp4', '30/5.mp4', '31/0.mp4',
       '31/10.mp4', '31/5.mp4', '32/0.mp4', '32/10_1.mp4', '32/10_2.mp4',
       '32/5.mp4', '33/0.mp4', '33/10.mp4', '34/0.mov', '34/10.mp4',
       '34/5.mov', '35/0.mp4', '35/10.mp4', '35/5.mp4', '36/0.mp4',
       '36/10.mp4', '36/5.mp4', '37/0.mov', '37/10.mov', '37/5.mov',
       '38/10.mp4', '39/0.MP4', '39/10.MOV', '39/5.MOV', '40/0.mp4',
       '40/10.mp4', '40/5.mp4', '41/0.MP4', '41/10.MOV', '41/5.mp4',
       '42/10.mp4', '43/0.mov', '43/10.mov', '43/5.mp4', '44/0.mov',
       '44/10.mov', '44/5.mov', '46/0.m4v', '46/10.mov', '46/5.m4v'],
      dtype=object)

In [29]:
len(videos)

130

# Retirando dados de vídeos irrelevantes

In [30]:
videos_vazios = []
for video in videos:
    print(video)
    df_video = df.query("nome_video == '"+video+"'")
    df_falhas = df_video.query("ear==-1" and "distancia_entre_os_labios==-1")
    df_dados = df_video.query("ear!=-1" and "distancia_entre_os_labios!=-1")

    print(df_falhas.shape[0], df_dados.shape[0])
    if df_dados.shape[0]<200:
        videos_vazios.append(video)
        df.query("nome_video != '"+video+"'", inplace=True) #filtrando dataframe antigo

55/0.mp4
8 21188
55/10.mp4
7514 8969
55/5.mp4
510 18725
56/0.MOV
0 18323
56/10.MOV
0 18778
56/5.MOV
9127 9227
57/0.MOV
15 18923
57/10.MOV
0 18367
57/5.MOV
42 18178
59/0.MOV
13 18076
59/10.MOV
0 18095
59/5.MOV
0 18169
60/0.mov
4668 13386
60/10.mov
471 18110
60/5.mov
91 17442
01/0.mov
1145 16904
01/10.MOV
1766 16245
01/5.mov
584 17385
02/0.mov
40 18219
02/10.MOV
1216 16908
02/5.MOV
12873 4171
03/0.MOV
134 20625
03/10.mov
0 18480
03/5.mov
80 18434
04/0.mp4
826 14538
04/10.mp4
3 15391
04/5.mp4
1883 16341
05/0.MOV
245 18161
05/10.MOV
6638 11412
05/5.MOV
14582 3476
06/0.mp4
3945 11285
06/10.mp4
680 9553
06/5.mp4
4898 8219
07/5.mp4
22 17864
09/0.mp4
72 18100
09/10.mp4
87 19729
09/5.mp4
1482 16885
10/0.MOV
0 16306
10/10.MOV
0 18866
10/5.MOV
3 18617
11/0.mp4
39 18779
11/10.mp4
32 10624
11/5.mp4
154 9699
12/0.mp4
0 16919
12/10.mp4
241 14857
12/5.mp4
554 18284
14/10.mp4
60 18632
14/5.mp4
196 19546
15/0.mp4
2831 16470
15/10.mp4
18 18465
15/5.mp4
10552 7989
16/0.MOV
528 10829
16/10.MOV
861 13630
16/5.MOV
1975 12513
17/0.mp4
22 18099
17/10.mp4
131 18078
17/5.mp4
22 18223
18/0.mov
3 11669
18/10.mov
0 7676
18/5.mov
341 8634
19/0.MOV
16729 1300
19/10.MOV
2 18062
19/5.MOV
16251 1784
20/0.mp4
932 18653
20/5.MOV
219 17988
21/0.MOV
5909 12238
21/5.MOV
12072 5955
22/0.MOV
0 18221
22/10.MOV
26 18290
22/5.MOV
0 18266
23/0.mp4
17164 403
23/10.mp4
17843 344
23/5.mp4
15299 2010
24/0.mp4
8 11037
24/10.mp4
0 11515
24/5.mp4
45 10886
26/0.mp4
0 18489
27/0.MOV
4770 14957
27/10.MOV
15667 2960
27/5.MOV
48 18726
28/0.MOV
2540 15521
28/10.MOV
13 14925
28/5.MOV
0 14512
29/0.mp4
0 19161
29/10.mp4
0 10714
29/5.mp4
0 8173
30/0.mp4
0 20439
30/10.mp4
17461 790
30/5.mp4
0 20846
31/0.mp4
3750 13254
31/10.mp4
545 15583
31/5.mp4
4947 10199
32/0.mp4
6 10782
32/10_1.mp4
16 8694
32/10_2.mp4
0 3789
32/5.mp4
0 13787
33/0.mp4
141 17510
33/10.mp4
12387 4418
34/0.mov
277 11347
34/10.mp4
803 17585
34/5.mov
496 20197
35/0.mp4
817 17744
35/10.mp4
873 19031
35/5.mp4
2729 15570
36/0.mp4
0 18694
36/10.mp4
0 18728
36/5.mp4
0 18792
37/0.mov
425 20058
37/10.mov
1483 18913
37/5.mov
70 18481
38/10.mp4
17778 284
39/0.MP4
1975 17397
39/10.MOV
2363 15795
39/5.MOV
1327 16846
40/0.mp4
0 18060
40/10.mp4
0 18029
40/5.mp4
0 18036
41/0.MP4
0 18839
41/10.MOV
26427 1898
41/5.mp4
0 10777
42/10.mp4
17658 371
43/0.mov
375 17743
43/10.mov
3102 14978
43/5.mp4
1075 17117
44/0.mov
15 7354
44/10.mov
1038 6260
44/5.mov
0 7354
46/0.m4v
0 17626
46/10.mov
0 17773
46/5.m4v
0 17988

In [31]:
df.reset_index(drop=True, inplace=True)
df

              ear  distancia_entre_os_labios nome_video
0        0.291351                  13.833333   55/0.mp4
1        0.296493                  14.000000   55/0.mp4
2        0.316485                  14.333333   55/0.mp4
3        0.321407                  15.333333   55/0.mp4
4        0.290985                  15.000000   55/0.mp4
...           ...                        ...        ...
2186645  0.259252                  12.666667   46/5.m4v
2186646  0.256147                  12.333333   46/5.m4v
2186647  0.256460                  12.500000   46/5.m4v
2186648  0.262103                  12.833333   46/5.m4v
2186649  0.251096                  13.333333   46/5.m4v

[2186650 rows x 3 columns]

In [10]:
len(videos_vazios), len(videos)

(29, 159)

In [11]:
len(pd.unique(df.nome_video)) #dados limpos

130

In [32]:
df.to_csv('results_novo2.csv', sep=';', index = False, mode='w', columns = ['ear','distancia_entre_os_labios','nome_video'])

In [33]:
df

              ear  distancia_entre_os_labios nome_video
0        0.291351                  13.833333   55/0.mp4
1        0.296493                  14.000000   55/0.mp4
2        0.316485                  14.333333   55/0.mp4
3        0.321407                  15.333333   55/0.mp4
4        0.290985                  15.000000   55/0.mp4
...           ...                        ...        ...
2186645  0.259252                  12.666667   46/5.m4v
2186646  0.256147                  12.333333   46/5.m4v
2186647  0.256460                  12.500000   46/5.m4v
2186648  0.262103                  12.833333   46/5.m4v
2186649  0.251096                  13.333333   46/5.m4v

[2186650 rows x 3 columns]

# Análise dos dados

In [ ]:
ear = df['ear']

In [ ]:
import matplotlib.pyplot as plt
plt.plot(ear)

In [ ]:
from scipy.ndimage.morphology import grey_opening, grey_closing

ear_opening = grey_opening(ear, 11)
ear_closing = grey_closing(ear, 11)

In [ ]:
plt.plot(ear_opening)

In [ ]:
from skimage.morphology import reconstruction
import numpy as np 

ear_rec = reconstruction(ear - 0.10, ear, selem = np.ones((11,)))

In [ ]:
plt.figure()
plt.plot(ear[2980:3050])
plt.plot(ear[2980:3050]- 0.10)
plt.show()

In [ ]:
plt.plot(ear_rec[2980:3050])